<%= form_tag(path, :class => :pagseguro) do -%>
	<div>
		<% options[:params].each do |name, value| %>
			<%= hidden_field_tag name, value %>
		<% end %>

		<%= submit_tag options[:submit] %>
	</div>
<% end -%>

